/* Box Model */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

html {
 width: 100%;
 height: 100%;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  background-color: #EEEEED;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-weight: 500; 
  width: 100%;
  height: 100%;
}

.header {
 background-color: #ffffff;
 width: 100%;
 overflow: hidden;
 color: #f9e42e;
 padding-right: 30px;
 border-bottom: 1.5px solid #DEDEDE;
 
}

.company {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 48px;
  padding-top: 0px;
  padding-left: 100px;
  padding-bottom: 30px;
  float: left;
  width: 28%;

}

.company-yellow { 
  font-family: 'Raleway', sans-serif;
  font-weight: 700; 
  font-size: 16px;
  color: #313131;
  padding: 50px 40px;
  text-align: left;
  width: 33%;
  display: inline;
  letter-spacing: 1.5px;
}

.second-hr {

  height: 1px;
  border: 0;
  border-top: 1px solid #313131;
  margin: 1em 0 0 0;
  width: 100%;


}
.third-hr {

  height: 1px;
  border: 0;
  border-top: 1px solid #313131;
  margin:.15em 0;
  width: 100%;


}

nav { 
  
  float: right;

}

ul {
  list-style: none;


}

li {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; 
  text-transform: uppercase;
  float: left;
  padding-top: 100px;
  padding-left:25px;
  padding-right: 25px;
  padding-bottom: 10px;
  color: #313131;
  font-size: 13px;
  perspective-origin: 6px 3px;
  transform-origin: 6px 3px;
  letter-spacing: 1px;

}

li a {
  color: #313131;
  text-decoration: none;
}

li a:hover {
  color: #313131;
  text-decoration: none;
}

section {
 width: 100%;
 font-family: 'Raleway', sans-serif;
 font-weight: 600;
 color: #313131;
 font-size: 20px;
 height: auto;
 float: center;
 padding: 40px 25% 0px 25%;
 background-color: #EEEEED;
}

.box {
 width: 100%;
 height: 100%;
 border: 0px;
 box-sizing: content-box; 
 
}



.report {
 width: 100%;
 height: 200px;
 text-align: center;
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 color: #ffffff;
 text-align: center;
 font-size: 20px;
 padding-top: 40px;
 background-color: #666568;
}

h1 { 
 opacity: 0;
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 color: #ffffff;
 padding: 0px 0px 0px 20px;
 text-align: center;
 font-size: 35px;

}

.lavca {
  display: none;
}

.other {
  opacity: 0;
}

h2 { 
 font-family: 'Raleway', sans-serif;
 font-weight: 600;
 color: #313131;
 font-size: 20px;
 padding: 0px 0px 30px 0px;
 text-align: center;

}

@media only screen and (min-width: 1440px) {
 h3 {
    text-align: center;
    padding: 30px 5px;
  }
}

h3 {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 color: #9ac43c;
 border: solid 1px #9ac43c;
 border-radius: 5px;
 padding: 30px 40px;
 display: block;
 font-size: 4em;
 -webkit-margin-before: 0.2em;
 -webkit-margin-after: 0.2em;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
 font-weight: bold;
}

a {
  font-weight: 700;
  color: #9ac43c;
  text-decoration: none;
}

.investment {
  background: #EEEEED;
  padding: 40px 0 0;
}

.investment-box {
  position: relative;
  width: 30%;
  border: none;
  margin: 0 auto;
  padding: 5px 15px;
  background: #fff;
  z-index: 3;
}

.amount-box {
  position: relative;
  width: 15%;
  padding: 5px 12px 5px 8px;
  border: none;
  display: inline-block;
  margin: 10px 0px 5px 34.5%;
  background: #9ac43c;
  z-index: 11;
  border-radius: 5px;
  left: 1000%;
  opacity: 0;
}

.number-box {
  position: relative;
  width: 15%;
  padding: 5px 5px;
  border: none;
  display: inline-block;
  margin: 10px 10% 5px 9px;
  background: #fff;
  z-index: 5;
  border-radius: 5px;
  right: 1000%;
  opacity: 0;
}

h4 { 
 font-family: 'Raleway', sans-serif;
 font-weight: 600;
 color: #fff;
 font-size: 20px;
 padding: 0px 0px 0px 0px;
 text-align: center;
}

h5 { 
 font-family: 'Raleway', sans-serif;
 font-weight: 600;
 color: #9ac43c;
 font-size: 20px;
 padding: 0px 0px 0px 0px;
 text-align: center;
}

.map {
  background-color: #c5c4c4;
  width: 100%;
  height: 750px;
  position: relative;
  margin-top: -135px;
}

.latam {
  background: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  position: absolute;
  width: 65%;
  height: 100%;
  left: 60px;
  top: 0px;
  z-index: 10;
}


@media only screen and (min-width: 1440px) {
 .latam {
    left: 200px;
    width: 40%;
  }
}

.argentina-box {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 15%;
  left: 370px;
  top: 160px;
  z-index: 7;
  padding: 5px 0px 5px 0px;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

.callout-argentina {
  border-radius: 30px;
  background-color: #9ac43c;
  opacity: 0;
  position: absolute;
  width: 45px;
  height: 45px;
  left: 415px;
  top: 525px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.9em;
  color: #ffffff;
  text-align: center;
  padding: 5px 3px;
}

.mexico-box {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 15%;
  left: 70px;
  top: -20px;
  z-index: 7;
  padding: 5px 0px 5px 0px;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

.arrow-down {
  width: 0; 
  height: 0;
  position: absolute; 
  left: 50%;
  bottom: -9px;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333333;
  z-index: 8;
}

.callout-mexico {
  border-radius: 30px;
  background-color: #9ac43c;
  opacity: 0;
  position: absolute;
  width: 55px;
  height: 55px;
  left: 115px;
  top: 55px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.9em;
  color: #ffffff;
  text-align: center;
  padding: 10px 3px;
  animation-delay: 0.8s;
}

.colombia-box {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 15%;
  left: 270px;
  top: 78px;
  z-index: 7;
  padding: 5px 0px 5px 0px;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

.callout-colombia {
  border-radius: 30px;
  background-color: #9ac43c;
  opacity: 0;
  position: absolute;
  width: 45px;
  height: 45px;
  left: 315px;
  top: 215px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  color: #ffffff;
  text-align: center;
  padding: 7px 3px;
}

.brazil-box {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 15%;
  left: 435px;
  top: 110px;
  z-index: 7;
  padding: 5px 0px 5px 0px;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

.callout-brazil {
  border-radius: 30px;
  background-color: #9ac43c;
  opacity: 0;
  position: absolute;
  width: 65px;
  height: 65px;
  left: 470px;
  top: 310px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  color: #ffffff;
  text-align: center;
  padding: 12px 3px;
}

.chile-box {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 15%;
  left: 315px;
  top: 187px;
  z-index: 7;
  padding: 5px 0px 5px 0px;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

.callout-chile {
  border-radius: 30px;
  background-color: #9ac43c;
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 365px;
  top: 450px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.7em;
  color: #ffffff;
  text-align: center;
  padding: 2px 3px;
}

.peru-box {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 12%;
  left: 263px;
  top: 21px;
  z-index: 7;
  padding: 5px 0px 5px 0px;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

.callout-peru {
  border-radius: 30px;
  background-color: #9ac43c;
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 300px;
  top: 320px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #ffffff;
  text-align: center;
  padding: 5px 3px;
}

.amounts {
  background-size: 100%;
  position: absolute;
  width: 65%;
  padding-top: 100px;
  height: 100%;
  left: 300px;
  top: 0px;
  z-index: 0;
}

h6 { 
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 color: #313131;
 font-size: 28px;
 padding: 160px 0px 0px 620px;
 text-align: center;
}

.box-1 {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 30%;
  left: 1000%;
  top: 110px;
  z-index: 6;
  padding: 5px 0px 5px 20px;
  margin: 10px 15px 5px 5px;
  border-radius: 4px;
}
.brazil-circle {
  opacity: 0;
  background: url(../images/brazil.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  position: absolute;
  border-radius: 100px;
  border: solid 2px #fff;
  width: 85px;
  height: 85px;
  left: 1000%;
  top: 200px;
  z-index: 9;
}

.box-2 {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2.1em;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 25%;
  left: 1000%;
  top: 150px;
  z-index: 6;
  padding: 5px 0px 5px 20px;
  margin: 10px 15px 5px 5px;
  border-radius: 4px;
}
.mexico-circle {
  opacity: 0;
  background: url(../images/mexico.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 145% 100%;
  position: absolute;
  border-radius: 100px;
  border: solid 2px #fff;
  width: 81px;
  height: 81px;
  left: 1000%;
  top: 300px;
  z-index: 9;
}

.box-3 {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 20%;
  left: 1000%;
  top: 200px;
  z-index: 6;
  padding: 5px 0px 5px 20px;
  margin: 10px 15px 5px 5px;
  border-radius: 4px;
}

.argentina-circle {
  opacity: 0;
  background: url(../images/argentina.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 145% 100%;
  position: absolute;
  border-radius: 100px;
  border: solid 2px #fff;
  width: 75px;
  height: 75px;
  left: 1000%;
  top: 410px;
  z-index: 9;
}

.box-4 {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 17%;
  left: 1000%;
  top: 250px;
  z-index: 6;
  padding: 5px 0px 5px 20px;
  margin: 10px 15px 5px 5px;
  border-radius: 4px;
}
.colombia-circle {
  opacity: 0;
  background: url(../images/colombia.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  position: absolute;
  border-radius: 100px;
  border: solid 2px #fff;
  width: 66px;
  height: 66px;
  left: 1000%;
  top: 515px;
  z-index: 9;
}

.box-5 {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
  position: relative;
  background: #333333;
  color: #fff;
  width: 14%;
  left: 1000%;
  top: 300px;
  z-index: 6;
  padding: 5px 0px 5px 20px;
  margin: 10px 15px 5px 5px;
  border-radius: 4px;
}
.chile-circle {
  opacity: 0;
  background: url(../images/chile.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 105%;
  position: absolute;
  border-radius: 100px;
  border: solid 2px #fff;
  width: 62px;
  height: 62px;
  left: 1000%;
  top: 615px;
  z-index: 9;
}

p {

  color: #666568;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 700px;
  overflow: hidden;
  padding: 15px 0px;
  letter-spacing: .5px;
  text-align: justify;
}

@media only screen and (min-width: 1440px) {
 p {
    width: 100%;
    padding: 15px 50px;
  }
}

#second, #fourth {
  display: none;

}



hr {
 width: 700px;
}




.lowersection { 
  padding: 0px 0px 0px 0px;
  background-color: #EEEEED;
  height: 150px;
  align-content: center; 
  clear: both;}

  .button2 {

    padding: 5px 2px;
    background-color: #2bc7ed;
    margin: 40px 0px 100px 32%;
    text-align: center;
    width: 500px; 
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  @media only screen and (min-width: 1440px) {
 .button2 {
    margin: 40px 0px 100px 39%;
  }
}

  .bottom {
   width: 100%;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   color: #313131;
   font-size: 20px;
   height: auto;
   float: center;
   padding: 5px 25% 0px 25%;
   background-color: #EEEEED;
 }


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 300px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input {
  display: block;
  margin-bottom: 5px;
}
select {
  display: block;
}

input[type="radio"]{
  display: inline-block;
}

.submitbtn {
  margin-top: 20px;
  display: block;
}

.copyright { 
  height: 150px;
  font-family: 'PT Serif', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  background: #313131;
  color: #999;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}


footer { 
  padding: 0px 10px;
  background-color: #ffffff;
  height: 620px;
  align-content: center; 
  font-family: 'PT Serif', serif;
  font-size: 14px;
  width: 100%;
  }


.offices { 
  font-weight: 400;
  background-color: #ffffff;
  align-content: center; 
  font-family: 'PT Serif', serif;
  font-size: 14px;
  padding: 20px 0px;
  line-height: 25px;
  letter-spacing: normal;
  overflow: hidden;
  }

.sitemap {
  width: 330px;
  text-align: left;
  border-bottom: 1.5px solid #DEDEDE;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 10px;
  color: #313131;
  letter-spacing: normal;
  line-height: 25px;
}

  .sitemap-last {
  text-align: left;
  border-bottom: 0px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  color: #313131;
  letter-spacing: normal;
  line-height: 25px;
  padding-left: 10px;
}

a.sitemap {
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-weight: 500;
  color: #313131;
  border-bottom: 0px;
  padding: 0px 0px;
  text-transform: none;
}

a:hover {
  color: #9ac53c;
  text-decoration: underline;
  
}

a.top {
  color: #999;
  font-family: 'Raleway', sans-serif;
  font-weight: 600; 
  font-size: 12px;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/









